Repository exercism/vimscript, pull requests merged in 2024-07, with the labels that each got.

#307 resistor-color-duo: sync
  exercises/practice/resistor-color-duo/.docs/instructions.md
Labels: x:size/tiny

#306 resistor-color: sync
  exercises/practice/resistor-color/.docs/instructions.md
Labels: x:size/tiny

#308 Add pascals-triangle
  config.json
  exercises/practice/pascals-triangle/.docs/instructions.md
  exercises/practice/pascals-triangle/.docs/introduction.md
  exercises/practice/pascals-triangle/.meta/config.json
  exercises/practice/pascals-triangle/.meta/example.vim
  exercises/practice/pascals-triangle/.meta/tests.toml
  exercises/practice/pascals-triangle/pascals_triangle.vader
  exercises/practice/pascals-triangle/pascals_triangle.vim
Labels: x:module/practice-exercise, x:rep/large

#309 Sync tests toml for roman-numerals
  exercises/practice/roman-numerals/.meta/tests.toml
Labels: x:action/sync, x:rep/tiny

#310 Add grade-school
  config.json
  exercises/practice/grade-school/.docs/instructions.md
  exercises/practice/grade-school/.meta/config.json
  exercises/practice/grade-school/.meta/example.vim
  exercises/practice/grade-school/.meta/tests.toml
  exercises/practice/grade-school/grade_school.vader
  exercises/practice/grade-school/grade_school.vim
Labels: x:module/practice-exercise, x:rep/large

#311 Add kindergarten-garden
  config.json
  exercises/practice/kindergarten-garden/.docs/instructions.md
  exercises/practice/kindergarten-garden/.docs/introduction.md
  exercises/practice/kindergarten-garden/.meta/config.json
  exercises/practice/kindergarten-garden/.meta/example.vim
  exercises/practice/kindergarten-garden/.meta/tests.toml
  exercises/practice/kindergarten-garden/kindergarten_garden.vader
  exercises/practice/kindergarten-garden/kindergarten_garden.vim
Labels: x:module/practice-exercise, x:rep/large
